.jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
  }
  
  #projects {
    background-color: #e2edff;
  }
  
  section {
    padding-top: 6rem;
  }
  
  .navbar {
    transition: background 0.3s ease-in-out;
}
.navbar.scrolled {
    background: rgba(13, 110, 253, 0.9); /* Biru dengan opacity */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.card {
    border-radius: 15px; /* Bikin sudut lebih melengkung */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Tambahin efek bayangan */
}
