/* style.css */

/* Gaya umum */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}

/* Kontainer utama */
.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Formulir */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

input {
  flex: 1;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.btn-danger {
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
}
.btn-danger:hover {
  background-color: #b30000;
}

button:hover {
  background-color: #0056b3;
}

/* Tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f8f9fa;
}
